<a href="https://colab.research.google.com/github/Akshaydawra/Inventory-Management-Sytstem/blob/main/add_new_item_ims.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fd=open("records.json",'r')
r=fd.read()
fd.close()
record=json.loads(r)

In [ ]:
import json
record

{'1001': {'name': 'Cake', 'pr': 150, 'qn': 10},
 '1002': {'name': 'pasta', 'pr': 110, 'qn': 12},
 '1003': {'name': 'macroni', 'pr': 210, 'qn': 11},
 '1004': {'name': 'shake', 'pr': 110, 'qn': 10},
 '1005': {'name': 'burger', 'pr': 50, 'qn': 20},
 '1006': {'name': 'spring roll', 'pr': 80, 'qn': 10},
 '1007': {'name': 'momos', 'pr': 50, 'qn': 10},
 '1008': {'name': 'cold dirnk', 'pr': 30, 'qn': 20},
 '1009': {'name': 'coffee', 'pr': 40, 'qn': 12},
 '1010': {'name': 'pizza', 'pr': 250, 'qn': 10},
 '1011': {'name': 'dosa', 'pr': 110, 'qn': 10},
 '1012': {'name': 'idli', 'pr': 70, 'qn': 10},
 '1013': {'name': 'chowmin', 'pr': 50, 'qn': 10},
 '1014': {'name': 'water', 'pr': 15, 'qn': 30},
 '1015': {'name': 'cold coffee', 'pr': 150, 'qn': 10},
 '1016': {'name': 'paneer tikka', 'pr': 180, 'qn': 10},
 '1017': {'name': 'paneer roll', 'pr': 100, 'qn': 10},
 '1018': {'name': 'soya chaap', 'pr': 250, 'qn': 10},
 '1019': {'name': 'malai chaap', 'pr': 150, 'qn': 10},
 '1020': {'name': 'choco cake', 'pr': 350, 'qn': 10},
 '1021': {'name': 'candy', 'pr': 10, 'qn': 100},
 '1022': {'name': 'sandwich', 'pr': 20, 'q': 10},
 '1023': {'name': 'sweet', 'pr': 150, "qn'": 10},
 '1024': {'name': 'samosa', 'pr': 25, 'qn': 10},
 '1025': {"name'": 'chilly potato', 'pr': 120, 'qn': 10}}

In [ ]:
prod_id=str(input("enter product id:"))
name=str(input("enter name:"))
pr=int(input("enter price:"))
qn=int(input("enter quantity:"))

enter product id:1026
enter name:chilly
enter price:150
enter quantity:12

In [ ]:
record[prod_id]={"name":name,"pr":pr,"qn":qn}

In [ ]:
record

{'1001': {'name': 'Cake', 'pr': 150, 'qn': 10},
 '1002': {'name': 'pasta', 'pr': 110, 'qn': 12},
 '1003': {'name': 'macroni', 'pr': 210, 'qn': 11},
 '1004': {'name': 'shake', 'pr': 110, 'qn': 10},
 '1005': {'name': 'burger', 'pr': 50, 'qn': 20},
 '1006': {'name': 'spring roll', 'pr': 80, 'qn': 10},
 '1007': {'name': 'momos', 'pr': 50, 'qn': 10},
 '1008': {'name': 'cold dirnk', 'pr': 30, 'qn': 20},
 '1009': {'name': 'coffee', 'pr': 40, 'qn': 12},
 '1010': {'name': 'pizza', 'pr': 250, 'qn': 10},
 '1011': {'name': 'dosa', 'pr': 110, 'qn': 10},
 '1012': {'name': 'idli', 'pr': 70, 'qn': 10},
 '1013': {'name': 'chowmin', 'pr': 50, 'qn': 10},
 '1014': {'name': 'water', 'pr': 15, 'qn': 30},
 '1015': {'name': 'cold coffee', 'pr': 150, 'qn': 10},
 '1016': {'name': 'paneer tikka', 'pr': 180, 'qn': 10},
 '1017': {'name': 'paneer roll', 'pr': 100, 'qn': 10},
 '1018': {'name': 'soya chaap', 'pr': 250, 'qn': 10},
 '1019': {'name': 'malai chaap', 'pr': 150, 'qn': 10},
 '1020': {'name': 'choco cake', 'pr': 350, 'qn': 10},
 '1021': {'name': 'candy', 'pr': 10, 'qn': 100},
 '1022': {'name': 'sandwich', 'pr': 20, 'q': 10},
 '1023': {'name': 'sweet', 'pr': 150, "qn'": 10},
 '1024': {'name': 'samosa', 'pr': 25, 'qn': 10},
 '1025': {"name'": 'chilly potato', 'pr': 120, 'qn': 10},
 '1026': {'name': 'chilly', 'pr': 150, 'qn': 12}}

In [ ]:
prod_id=str(input("enter product id:"))
name=input("enter the name:")
pr=int(input("enter the price"))
qn=int(input("enter the quantityi"))
record[prod_id]={"name":name,"pr":pr,"qn":qn}
js=json.dumps(record)
fd=open("records.json",'w')
fd.write(js)
fd.close

enter product id:1026
enter the name:chilly
enter the price150
enter the quantityi12

In [ ]:
record

{'1001': {'name': 'Cake', 'pr': 150, 'qn': 10},
 '1002': {'name': 'pasta', 'pr': 110, 'qn': 12},
 '1003': {'name': 'macroni', 'pr': 210, 'qn': 11},
 '1004': {'name': 'shake', 'pr': 110, 'qn': 10},
 '1005': {'name': 'burger', 'pr': 50, 'qn': 20},
 '1006': {'name': 'spring roll', 'pr': 80, 'qn': 10},
 '1007': {'name': 'momos', 'pr': 50, 'qn': 10},
 '1008': {'name': 'cold dirnk', 'pr': 30, 'qn': 20},
 '1009': {'name': 'coffee', 'pr': 40, 'qn': 12},
 '1010': {'name': 'pizza', 'pr': 250, 'qn': 10},
 '1011': {'name': 'dosa', 'pr': 110, 'qn': 10},
 '1012': {'name': 'idli', 'pr': 70, 'qn': 10},
 '1013': {'name': 'chowmin', 'pr': 50, 'qn': 10},
 '1014': {'name': 'water', 'pr': 15, 'qn': 30},
 '1015': {'name': 'cold coffee', 'pr': 150, 'qn': 10},
 '1016': {'name': 'paneer tikka', 'pr': 180, 'qn': 10},
 '1017': {'name': 'paneer roll', 'pr': 100, 'qn': 10},
 '1018': {'name': 'soya chaap', 'pr': 250, 'qn': 10},
 '1019': {'name': 'malai chaap', 'pr': 150, 'qn': 10},
 '1020': {'name': 'choco cake', 'pr': 350, 'qn': 10},
 '1021': {'name': 'candy', 'pr': 10, 'qn': 100},
 '1022': {'name': 'sandwich', 'pr': 20, 'q': 10},
 '1023': {'name': 'sweet', 'pr': 150, "qn'": 10},
 '1024': {'name': 'samosa', 'pr': 25, 'qn': 10},
 '1025': {"name'": 'chilly potato', 'pr': 120, 'qn': 10},
 '1026': {'name': 'chilly', 'pr': 150, 'qn': 12}}